.dashContainer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 80%;
  margin: auto;
  width: 90%;
  border-bottom-right-radius: .5em;
  border-bottom-left-radius: .5em;
  padding-top: 2em;
  padding-bottom: 2em;
  /* border-style: solid;
  border-color: #b4b4b4;
  border-width: 1px; */
}

.dashHeader {
  background-color: #fff;
  margin: auto;
  border-top-right-radius: .5em;
  border-top-left-radius: .5em;
  margin-top: 0em;
  padding: 0em;
  color: black;
  font-size: 5em;
  font-weight: 700;
  width: 70%;

  /* border-style: solid;
  border-color: #b4b4b4;
  border-width: 1px; */

}

.company {
  background-color: #fff;
  padding: 1em;
  margin: auto;
  width: 80%;
  border-radius: 0.5em;
  font-size: 1.4em;
  /* border-style: solid;
  border-width: 1px; */

}

.home-link {
  left: 2em;
}

.user-name {
  right: 2em;
}

.home-link,
.user-name {
  font-size: 1.5em;
  top: 1em;

  position: absolute;
}

.spacer {
  height: 1em;
}

.progress {
  margin-top: 0.5em;
  display: flex;
  margin-bottom: 2em;
}

.progSection {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.progComplete {
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
  border-right: 0.05em solid beige;
}

.progCompleteSmall {
    background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}

.progButton {
  z-index: 100;
  position: absolute;
  font-size: 1em;
  margin-top: 1.3em;
  background-color: white;
  color: black;
  padding: 0.5em;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 1px;
}

.progButton:hover {
  cursor: pointer;
}

.progButtonCenter {
    margin-left: 4em;
}

.progButton > a,
.progButton > a:hover {
  color: white;
  text-decoration: none;
}

.progButton > a, .progButton > a:hover {
    color: black;
    text-decoration: none;
}

.progCancelled {
    background-color: red;
}

.progDull {
    background-color: darkGray;
}
.modal-container {
  position: relative;
}
.modal-container .modal,
.modal-container .modal-backdrop {
  position: absolute;
}

.display-linebreak {
  white-space: pre-line;
}

.dubForm{
  color: black;
}
